{% extends 'commons/base.html' %}
{% load static %}
{% load commons_extras %}
{% load portfolio_extras %}
{% load counsel_extras %}

{% block title %}
  マイページ | Famo
{% endblock title %}
{% block extend_head %}
  {% modal_libraries %}
  {% post_question_modal_scripts %}
{% endblock extend_head %}

{% block content %}
<section id="profile">
  <h4>マイページ</h4>
  <span class="image fit"><img src="{% static 'commons/images/pic07.jpg' %}"></span>
  <p>ユーザー名: <strong>{{ user.username }}</strong></p>
  <p>これまでに獲得したGood: <strong>{{ good_points }}</strong> 件</p>
  <p>立てたトピック: <strong>{{ questions_count }}</strong> 件</p>
  <p>コメント: <strong>{{ comments_count }}</strong> 件</p>
</section>

<button type="button" class="button fit" data-toggle="modal" data-target="#questionModal" id="command">新しいトピックを立てる</button>
{% post_question_modal request.user %}

<section id="questions">
  <h3>最近の質問</h3>
  {% for question in user|get_questions %}
  <section id="question{{ question.id }}">
    <hr>
    <a href="{% url 'counsel:detail' question.id %}"><h4>{{ question.title }}</h4></a>
    <p>{{ question.content }}</p>
    <p>(新着回答: {{ question|count_new_answers }}件)</p>
  </section>
  {% endfor %}
  <a href="#" class="button">過去の質問</a>
</section>
<section id="answers">
  <h3>最近の回答</h3>
  {% for answer in user|get_your_answers %}
  <section id="answer{{ answer.id }}">
    <hr>
    {% answer_portfolio_node answer %}
  </section>
  {% endfor %}
</section>
<!--
  <ul class="pagination">
    {% if page > 1 %}
  	<li><span class="button">Prev</span></li>
    {% endif %}
    <li><a href="#" class="button">Next</a></li>
  </ul>
-->
<hr>
<p><a href="{% url 'logout' %}" class="button fit">ログアウトする</a></p>
{% endblock content %}
