{% extends 'portfolio/portfolio_base.html' %}
{% load static %}
{% load portfolio_extras %}

{% block title %}
{{ user.username }}のポートフォリオ | Famo
{% endblock title %}
{% block extend_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'commons/assets/js/csrf.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
     $('#follow').click(function() {
      $.ajax({
        'url': "{% url 'portfolio:follow' %}",
        'type': 'POST',
        'data': {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'username': '{{ user.username }}',
        },
        'dataType': 'json',
        'success': function(response) {
          $('#follow').text(response.state);
        },
      });
    });
  });
</script>
{% endblock extend_head %}


{% block content %}
<section id="profile">
  <span class="image fit"><img src="{% static 'commons/images/pic01.jpg' %}"></span>
  <h3>ユーザー名： {{ user.username }}</h3>
  <!-- follow button -->
  <a class="button fit" id="follow">
    {% if following %}フォロー中{% else %}フォローする{% endif %}
  </a>
</section>

<section id="questions">
  <h1>過去に作成したトピック</h1>
  {% for question in questions %}
    <strong><a href="{% url 'counsel:detail' question.id %}">{{ question.title }}</a></strong><br>
    <p>{{ question.content|cut_text:50 }}...</p>
    {% if forloop.counter > 5 %}
  </br>
  <a href="#" class="button fit">More</a>
    {% endif %}
  {% endfor %}
</section>

<section id="answers">
  <h1>過去の回答</h1>
  {% for answer in answers %}
  <section id="answer{{ answer.id }}">
    <h4><strong><a href="{% url 'counsel:detail' answer.question.id %}">トピック: {{ answer.question.title }}への回答 - {{ answer.title }}</a></strong></h4>
    <p>{{ answer.content|cut_text:30 }}...</p>
    <p><a class="button small">編集する</a></p>
  </section>
    {% if forloop.counter > 5 %}
  </br>
  <a href="{% url 'portfolio:answers' user %}" class="button fit">More</a>
    {% endif %}
  {% endfor %}
</section>

{% endblock content %}
