{% extends 'portfolio/portfolio_base.html' %}
{% load static %}
{% load portfolio_extras %}

{% block extend_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'commons/assets/js/csrf.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#follow').click(function(){
      $.ajax({
        'url': "{% url 'portfolio:follow' %}",
        'type': 'POST',
        'data': {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'username': '{{ user.username }}',
        },
        'dataType': 'json',
        'success': function(response) {
          $('#follow').text(response.state);
        },
      });
    });
  });
</script>
{% endblock extend_head %}

{% block username %}{{ user.username }}{% endblock username %}
{% block description %}
  <br>
  <a class="button fit" id="follow">
    {% if following %}フォロー中{% else %}フォローする{% endif %}
  </a>
{% endblock description %}
{% block content %}
<section id="question">
  <h1>Latest Questions</h1>
  {% for question in user|latest_questions:10 %}
    <strong><a href="{% url 'counsel:detail' question.id %}">{{ question.title }}</a></strong><br>
    {% if forloop.counter > 9 %}
    {% endif %}
  {% endfor %}
</section>
<section id="answer">
  <h1>Latest Answers</h1>
  {% for answer in user|latest_answers:10 %}
    <strong><a href="">{{ answer.title }}</a></strong><br>
  {% endfor %}
</section>
{% endblock content %}
