{% extends 'commons/base.html' %}
{% load static %}
{% load counsel_extras %}
{% load commons_extras %}

{% block title %}
  トピック： {{ question.title }}の詳細 | Famo
{% endblock title %}

{% block extend_head %}
{% modal_libraries %}
<script>
  $(document).ready(function() {
    $('#command').click(function() {
        $.ajax({
          'url': "{% url 'counsel:get_last_answer' %}",
          'type': 'POST',
          'data': {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'question_id': '{{ question.id }}',
          },
          'dataType': 'json',
          'success': function(response) {
            $('#content').val(response.content);
          }
        })
    })
    $('#submit').click(function() {
      $.ajax({
        'url': "{% url 'counsel:post_answer' %}",
        'type': 'POST',
        'data': {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'question_id': '{{ question.id }}',
          'content': $("#content").val(),
          'anonymous': $('#demo-human').is(":checked"),
        },
        'dataType': 'json',
        'success': function(response) {
          $('#close').click();
          location.reload();
        }
      });
    });
    $("[id^='good_button']").click(function() {
        if (!'{{ request.user.username }}') {
          $('#command').click();
        }
        else {
          var target = this;
          $.ajax({
            'url': "{% url 'counsel:evaluate' %}",
            'type': 'POST',
            'data': {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'user_id': '{{ user.id }}',
              'answer_id': target.id.replace('good_button', ''),
            },
            'dataType': 'json',
            'success': function(response) {
              $(target).text('Good ' + '+' + response.good_rators_count);
              if (response.is_evaluated) {
                target.className = 'button special small';
              }
              else {
                target.className = 'button small';
              }
            }
        });
      }
    });
  });
</script>
{% endblock extend_head %}

{% block content %}


<section id="question">
  {% question_node question user %}
  {% ifequal question.user user %}
    <!-- Trigger the modal with a button -->
    <button type="button" class="button fit" data-toggle="modal" data-target="#questionModal">編集・追記する</button>
    {% post_question_modal user %}
  {% endifequal %}
</section>

{% ifnotequal request.user question.user %}
  {% post_answer_modal request.user %}
{% endifnotequal %}
{% if not request.user.username %}
  {% login_modal %}
{% endif %}

<section id="answers">
  {% for answer in answers %}
  <section id="answer{{ answer.id }}">
    {% answer_node answer user %}
  </section>
  <hr>
  {% endfor %}
</section>

{% endblock content %}
