{% extends 'commons/base.html' %}
{% load commons_extras %}
{% load counsel_extras %}
{% load static %}

{% block title %}
  トピック情報 | Famo
{% endblock title %}

{% block extend_head %}
{% modal_libraries %}
{% post_question_modal_scripts %}
{% endblock extend_head %}

{% block extend_header_list %}
<button type="button" class="button special small" data-toggle="modal" data-target="#{% if user %}questionModal{% else %}loginModal{% endif %}" id="command">トピックを作成する</button>
{% endblock extend_header_list %}

{% block content %}
<section id="questions">
  <h2>人気のトピック</h2>
  {% for question in questions %}
    <hr>
    {% popular_question_node question %}
  {% endfor %}
</section>
{% post_question_modal request.user %}
{% endblock content %}
