{% extends 'commons/base.html' %}
{% load commons_extras %}
{% load counsel_extras %}
{% load static %}

{% block title %}
  トピック情報 | Famo
{% endblock title %}

{% block extend_head %}
{% modal_libraries %}
{% post_question_modal_scripts %}
{% endblock extend_head %}

{% block content %}
<section>
  <button type="button" class="button fit" data-toggle="modal" data-target="#{% if user %}questionModal{% else %}loginModal{% endif %}" id="command">質問を投稿する</button>
  {% post_question_modal request.user %}
</section>
{% endblock content %}
