{% extends 'commons/base.html' %}
{% load counsel_extras %}
{% load static %}

{% block extend_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'commons/assets/js/csrf.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock extend_head %}

{% block content %}
<section>
  {% post_question_modal request.user %}
</section>
{% endblock content %}
