{% load counsel_extras %}

        {% if question %}
          {{ question.content }}
        {% else %}
          {{ answer.content }}
        {% endif %}
  <p>{% if question %}
         {% if not question.anonymous %}
         from. <a href="{% url 'portfolio:user' %}">{{ question.user.username }}</a>
         {% else %}from. 匿名
         {% endif %}
       {% else %}
         {% if not answer.anonymous %}
         <p>from. <a href="{% url 'portfolio:user' answer.user %}">{{ answer.user.username }}</a></p>
         {% else %}
         <p>from. 匿名</p>
         {% endif %}
       {% endif %}
       {% if question %}({{ question.updated_date }} 投稿){% else %}({{ answer.updated_date }} 投稿){% endif %}
  </p>
  <p>
    {% if answer %}
    <a class="button special small" id="good_button{{ answer.id }}">Good +{{ answer|count_good_rators }}</a>
    <a class="button special small" id="bad_button{{ answer.id }}">Bad</a>
    {% endif %}

    {% ifequal answer.user user %}
    <!-- Trigger the modal with a button -->
    <button type="button" class="button special small" data-toggle="modal" data-target="#myModal">Edit</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Post a answer</h4>
          </div>
          <div class="modal-body">
                {% post_answer_form answer.question.id %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </p>

    {% endifequal %}
