{% load counsel_extras %}

<div class="row">
  <div class="col-sm-2">
    <a href="/static/commons/%23" class="image avatar"><img src="/static/commons/images/avatar.jpg" alt="" /></a>
    <p>{% if question %}{{ question.user.username }}{% else %}{{ answer.user.name }}{% endif %}<br>{% if question %}{{ question.date }}{% else %}{{ answer.date }}{% endif %}</p>
  </div>
  <div class="col-sm-10">
    <div class="chat-area">
      <div class="main">
        {% if question %}
          {{ question.content }}
        {% else %}
          {{ answer.content }}
        {% endif %}
      </div>
    </div>
    {% if answer %}
    <a class="button special small" id="good_button{{ answer.id }}">Good +{{ answer|count_good_rators }}</a>
    <a class="button special small" id="bad_button{{ answer.id }}">Bad</a>
    {% endif %}
  </div>
</div>
