{% extends 'commons/base.html' %}
{% load counsel_extras %}

{% block content %}
  {% block post %}
  <form method="post" action="{% url 'counsel:check_a_post' %}">
  {% csrf_token %}
    <div class="row uniform 50%">
      <div class="6u 12u$(xsmall)"><input type="text" name="title" id="title" placeholder="Title" /></div>
      <div class="12u$"><textarea name="content" id="content" placeholder="Content" rows="4"></textarea></div>
    </div>
    <div class="12u$">
      <div class="select-wrapper">
    		<select name="category" id="category">
          <option value="">- Category -</option>
          {% for category in categories %}
    			<option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
    		</select>
    	</div>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Post a Topic" /></li>
    </ul>
  </form>
  {% endblock post %}
{% endblock content %}
