{% load counsel_extras %}

<button type="button" class="button fit" data-toggle="modal" data-target="#{% if user %}questionModal{% else %}loginModal{% endif %}" id="command">質問を投稿する</button>
  <!-- Modal -->
  <div class="modal fade" id="questionModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          {% post_question_form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn fit" data-dismiss="modal" id="close">Close</button>
        </div>
      </div>
    </div>
  </div>
