{% extends 'commons/base.html' %}
{% load commons_extras %}
{% load static %}

{% block content %}
  <section id="popular_article">
    <h2>注目記事</h2>
    <span class="image fit"><a href="{% url 'articles:detail' popular_article.id %}"><img src="{{ popular_article.img_url }}"></a></span>
    <p><a href="{% url 'articles:detail' popular_article.id %}"><h2>{{ popular_article.title }}</h2></a></p>
    <p>{{ popular_article.preface }}...</p>
    <p>掲載元: {{ article.get_domain }}</p>
    <a href="{% url 'articles:detail' popular_article.id %}" class="button fit">記事に寄せられたコメントを読む</a>
  </section>
  <a href="{% url 'articles:popular' %}" class="button fit">その他の記事を読む</a>

  <section id="popular_questions">
    <h2>各カテゴリの注目トピック</h2>
    <div class="box alt">
      <div class="row 50% uniform">

      {% for question in 6|get_popular_questions %}
      <div class="6u">
        <span class="image fit">
          ... カテゴリ
          <img src="{% static 'commons/images/study.jpg' %}">
          <a href="{% url 'counsel:detail' question.id %}">{{ question.title }}</a>
        </span>
      </div>
      {% endfor %}
      </div>
    </div>
    <a href="{% url 'counsel:popular' %}" class="button fit">その他のトピックを読む</a>
  </section>

  <section id="questionnaire">
    <h2>現在行われているアンケート</h2>
    <a href="#" class="button fit">その他のアンケートをみる</a>
  </section>
{% endblock content %}
