{% extends 'commons/base.html' %}
{% load commons_extras %}
{% load counsel_extras %}
{% load static %}

{% block title %}
  トップページ | Famo
{% endblock title %}

{% block extend_header_list %}
{% if request.user.username %}
<li><button class="special small" onclick=location.href="{% url 'portfolio:index' %}">マイページ</button></li>
{% else %}
<li><button class="special small" onclick=location.href="{% url 'login' %}?next={{ request.path }}">ログイン</button></li>
<li><button class="small spacial" onclick=location.href="{% url 'registration_register' %}?next={{ request.path }}">会員登録</button></li>
{% endif %}
{% endblock extend_header_list %}

{% block content %}
  <section id="popular_article">
    <h2>注目記事</h2>
    <p><a href="{% url 'articles:detail' popular_article.id %}"><h2>{{ popular_article.title }}</h2></a></p>
    <p>{{ popular_article.preface }}...</p>
    <p>掲載元: {{ popular_article.get_domain }}</p>
    <a href="{% url 'articles:detail' popular_article.id %}" class="button fit">記事に寄せられたコメントを読む</a>
  </section>
  <a href="{% url 'articles:popular' %}" class="button fit">その他の記事を読む</a>

  <section id="categories">
    <h2>カテゴリ別に記事とトピックを読む</h2>
    <div class="box alt">
      <div class="row 50% uniform">

      {% for category in categories %}
      <div class="6u">
        <span class="image fit">
          <a href="{% url 'category:category' category.name %}"><img src="{% static category.img_url %}"></a>
          <a href="{% url 'category:category' category.name %}">{{ category.name }}</a>
        </span>
      </div>
      {% endfor %}
      </div>
    </div>
    <a href="{% url 'counsel:popular' %}" class="button fit">その他のトピックを読む</a>
  </section>

  <section id="popular_question">
    <h2>注目のトピック</h2>
    {% popular_question_node popular_question %}
  </section>

  <section id="keywords">
    <h2>注目のキーワード</h2>
    {% for keyword in keywords %}
    <a href="{% url 'category:category' keyword %}" class="button small{% if forloop.counter|divisibleby:2 %} special{% endif %}">{{ keyword }}</a>
    {% endfor %}
  </section>
  <!--
  <section id="questionnaire">
    <h2>現在行われているアンケート</h2>
    <a href="#" class="button fit">その他のアンケートをみる</a>
  </section>
  -->
{% endblock content %}
