{% extends 'commons/base.html' %}
{% load static %}
{% load articles_extras %}

{% block extend_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'commons/assets/js/csrf.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#submit').click(function() {
      $.ajax({
        'url': "{% url 'articles:comment' %}",
        'type': 'POST',
        'data': {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'article_id': '{{ article.id }}',
          'content': $("#content").val(),
        },
        'dataType': 'json',
        'success': function(response) {
          $('#close').click();
        }
      });
    });
  });
</script>
{% endblock extend_head %}

{% block content %}
{% article_node article %}


<section id="comment list">
  <h3>この記事に寄せられたコメント</h3>
  {% if comments %}
    {% for comment in comments %}
  <article id="comment{{ comment.id }}">
    {% comment_node comment %}
  </article>
    {% endfor %}
  {% else %}
    <p>まだコメントがありません。</p>
  {% endif %}
</section>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn fit" data-toggle="modal" data-target="#CommentModal">コメントする</button>
  <!-- Modal -->
  <div class="modal fade" id="CommentModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          {% comment_form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn fit" data-dismiss="modal" id="close">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
